.App {
  min-width: 320px;
  max-width:440px;

  background: #fff;
  margin: 0 auto;
  padding: 100px 0 50px;

}
body{
  background: #fcfcfc;
}

.lit-icon{
    font-size: 26px !important;
    color: #108ee9;
}
/*img{width: 100%}*/
@media (min-width: 640px) {
  .App-child{
  padding:0 1%;

  }
}
