@import "./App.css";
@import "css/test.css";
@import "css/header.css";
@import "css/footer.css";
@import "css/elm.css";
@import "css/homelist.css";

@import "css/wallet.css";

@import "//at.alicdn.com/t/font_738214_ubrqakafek.css";
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
